* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}

.box {
    width: 400px;
    height: 10vh;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    box-shadow: 0 0 5px #03e94f, 0 0 15px #03e94f, 0 0 25px #03e94f, 0 0 100px #03e94f;
    margin: 100px;

}